@using Microsoft.AspNetCore.Identity
@using RecrutementApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-3">
            <a asp-controller="User" asp-action="Profile" class="nav-link text-dark d-flex align-items-center" title="Mon Profil">
                Mon Profil
                <i class="fas fa-user-circle fa-2x ms-2"></i>
            </a>
        </li>

        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link nav-btn nav-btn-primary">
                    <i class="fas fa-sign-out-alt me-1"></i> Déconnexion
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link nav-btn nav-btn-outline" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus me-1"></i> Inscription
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-btn nav-btn-primary" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt me-1"></i> Connexion
            </a>
        </li>
    }
</ul>
